server:
  port: 8081
  servlet:
    context-path: /api/v2/accounts

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  tracing:
    sampling:
      probability: 1.0

spring:
  datasource:
    host: localhost
    username: accounts_dev
    password: accounts_dev
    name: accounts_db
    port: 5433
    url: jdbc:postgresql://${spring.datasource.host}:${spring.datasource.port}/${spring.datasource.name}
    driver-class-name: org.postgresql.Driver
  flyway:
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      group-id: operations-handlers-1
      client-id: accounts-service
      properties:
        spring.json.trusted.packages: "*"
      auto-offset-reset: earliest
    listener:
      poll-timeout: 30000